---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Publications</h2>
<hr />

{% for post in site.publications reversed %}
  {% if post.category == "manuscripts" %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<h2>Manuscripts Under Review</h2>
<hr />

{% for post in site.publications reversed %}
  {% if post.category != "manuscripts" %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<div class="wordwrap">
  <p><strong>Note:</strong> Manuscripts listed above are currently under review and are not yet published.</p>
</div>
